.admin {
  align-items: inherit;
}

.imgAdmin{
  width: 100%;
  max-width: 1000px;
  margin:10px;
  height: auto;
  padding-top: 30px;
}


.labelUser {
  font-size: 30px;
  margin-right: 60px;
}

.labelPass {
  font-size: 30px;
  margin-right: 11px;
}

.login {
  text-align: center;
}

.adminForm {
  height: 100%;
  font-size: 25px;
  margin-bottom: 10px;
}

.passForm {
  height: 100%;
  font-size: 25px;
  margin-bottom: 20px;
}

.adminTable{
	text-align:center;
}

.markerAdmin{
	transform: translate(-90%, -180%);
	
}

.mapa {
  margin-left: 2%;
  margin-top: 1em;
}



