.admin {
  align-items: inherit;
}

.imgAdmin{
  width: 100%;
  max-width: 50em;
  margin:0.1em;
  height: auto;
  padding-top: 1.1em;
}


.labelUser {
  font-size: 1.5em;
  margin-right: 0.4em;
}

.labelPass {
  font-size: 1.5em;
  margin-right: 0.4em;
}

.login {
  text-align: center;
}

.adminForm {
  height: 100%;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.passForm {
  height: 100%;
  
  font-size: 1.5em;
  margin-bottom: 0.8em;
}

.adminTable{
	text-align:center;
}

.markerAdmin{
	transform: translate(-90%, -180%);
	
}

.mapa {
  margin-left: 2%;
  margin-top: 1em;
}



