.App-body{
  font-size: 1.5em;
}

.title{
  font-size: 3em;
  text-align: center;
}

.subtitle{
  text-align: left;
  margin-left: 0.8em;
}

.parrafo{
  text-align: left;
  margin-left: 1.2em;
}

.imgDiv{
    margin-top: 0.5em;
  text-align: center;
}

.imgNav{
  border: black 0.1em solid;
  margin-left: 1.2em;
  max-width: 28em;
  width: 90%;
  height: auto;
}

.imgArea{
  border: black 0.1em solid;
  max-width: 20em;
  width: 90%;
  height: auto;
}

.imgFormAmigos{
  border: black 0.1em solid;
}

.imgHome{
  border: black 0.1em solid;
  margin-left: 1.1em;
  max-width: 28em;
  width: 90%;
  height: auto;
}

.tablaValores{
  text-align: left;
  margin : auto;
}

.table{
  padding-left: 0.1em;
  margin: auto;
}
 