
.mapa {
  margin-left: 2%;
  margin-top: 1em;
}

div.formMap {
  margin-top: 1em;
  margin-bottom: 1em;
}

div.friendMarker {
  width: 1em;
  height: 1em;
}

.logoutMessage {
  font-size: 1.5em;
}

.mapImg {
  padding-top: 2em;
  margin: auto;
  max-width: 60em;
  width: 90%;
  height: auto;
}

.marker{
	transform: translate(-18%, -137%);
	
}